body{
    background-color: #C0C0C0;
    margin: 0;
    padding: 0;
}

#main{
    width: 70%;
    height: 100%;
    max-height: 670px;
    margin: 0 auto;
    background-color: #eceff1;


}


.header {
    display: flex;
    align-items: center;
    min-height: 60px;
    background-color: #4682B4;
    margin-bottom: 10px;
}

.title{
    text-align: center;
    width: 100%;
    font-size: 35px;
    color: white;
    align-items: center;
    justify-content: center;
}

.range-field{
    /*width: 60%;*/
    /*width: 700px;*/
}

.switch{

    width: 150px;
    /*margin: 0 auto;*/
}

.range-field{
    width: 100%;
}

.select-wrapper{
    width: 40%;
}

.movement{
    width: 60%;
    margin: 30px auto;
}
.slide{
    /*float: left;*/
    width: 600px;
}


.wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    min-height: 44px;
}

.wrapper > span:first-child {
    margin-right: 10px;
    min-width: 80px;
}

.direction{
    margin-left: 40px;
}

#connect{
border-radius: 60px;
width: 20px;
height: 20px;
margin-left: auto;
margin-right: 10px;
float: right;
}

.connectOpen{
    background-color: #7cb342;
}

.connectClose{
    background-color: red;
}

.apargLogo{
    width: 57px;
    height: 57px;
    margin: 10px;
}

.switch label input[type=checkbox]:checked + .lever{
    background-color: #42a5f5;
}

.switch label input[type=checkbox]:checked + .lever:after, input[type=range]::-webkit-slider-thumb{
    background-color: #1565c0
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    background-color: #1565c0;
    border: 2px solid #1565c0
}

input[type=range] + .thumb {
    background-color: #1565c0;
}

.logo{
    width: 40px;
    margin: 10px;
}

.preloader-wrapper{
    position: fixed;
}

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.9);
    z-index: 9;
}

.overlay_connect{
    margin-top: 7%;
}

.none{
    display: none;
}


@media(max-width: 480px) {
    #main {
        width: 100%;
    }

    .wrapper {
        width: 90%;
    }
}